.circles {
    width: 1500px;
    height: 150px;
    margin: 10px;
    margin-top:0px;
    cursor:pointer;
}

.circlesimg{
    border-radius: 50%;
}

.circlesdiv {
    margin: 30px 10px 40px 10px
}


.circletext{
    font-size:20px;
    font-weight:700;
    text-align:center;
    color:rgb(46, 49, 51)
}